# =====================
# Build Artifacts
# =====================
*.exe
*.out
*.app
*.o
*.obj
*.dll
*.so
*.a

# =====================
# Build Directories
# =====================
build/
bin/

# =====================
# VS Code
# =====================
.vscode/

# =====================
# OS Junk
# =====================
.DS_Store
Thumbs.db
