# =====================
# Build Artifacts
# =====================
*.exe
*.out
*.app
*.o
*.obj
*.dll
*.so
*.a

# =======================================
# Build Directories
# =======================================
build/
bin/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# =======================================
# VS Code
# =======================================
.vscode/

# =======================================
# OS Junk
# =======================================
.DS_Store
Thumbs.db

# =======================================
# Directories created within the program
# =======================================
vault/